<div class="container green center">
<h3>Login Page</h3>
<form action="/admin/login" method="POST" class="column">
    <label for="Username">Username
        <input name="username" type="text">
    </label>
    <label for="Password">Password
        <input name="password" type="text">
    </label>
     <button type="submit" class="button black padding-large large margin-top">Submit</button>
</form>
</div>