<div class="container green center">

<h3>Register to Become an Admin</h3>

<p>Once approved, you will have permissions to edit and delete content. You can help make sure our content is safe.</p>

<form action="/admin/signup" method="POST">
    <label for="Username">Username
        <input name="username" type="text">
    </label>
    <label for="E-mail Address">E-mail Address
        <input name="email" type="text">
    </label>
    <label for="Password">Password
        <input name="password" type="text">
    </label>
     <button type="submit" class="button black padding-large large margin-top">Submit</button>
</form>

</div>