<div class="container green center" style="padding: 128px 160x">
    {{!-- {{#if globalUser}}
    <p>Hello, {{globalUser.username}}</p>
    {{else}}
    {{/if}} --}}
<h1 class="margin jumbo">Fake Obituary Generator</h1>

<p class="xlarge text-padding">Welcome{{#if globalUser}} {{globalUser.username}}{{/if}}! You've found the obituary generator! Looking to <em>kill</em> some time? Want to frighten your grandmother on Facebook? Or maybe you're just looking for more personable memes to send your friends. Give the generator a try below!</p>

<a href="/obituaries/create" class="button black padding-large large margin-top">Create post</a>
<a href="/obituaries/board"  class="button black padding-large large margin-top">View All</a>

</div>