<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
    <title>{{title}}</title>
  </head>

  <body>
    <header class="top">
      {{!-- <a href="/signup">New Account</a>
      <a href="/login">Log In</a> --}}

      <nav class="bar green button card left-align large">
        <a href="/" class="bar-item button padding-large white">Home</a>
        <a href="/about" class="bar-item button hide-small padding-large hover-white">About</a>
        <a href="/obituaries/board" class="bar-item button hide-small padding-large hover-white">View All</a>
        <a href="/obituaries/create" class="bar-item button hide-small padding-large hover-white">Create New</a>
        {{#if globalUser}}
        <p>Hello, {{globalUser.username}}</p>
        <a href="/admin/logout" class="bar-item button hide-small padding-large hover-white">Log out</a>
        {{else}}
        <a href="/admin/login" class="bar-item button hide-small padding-large hover-white">Log in</a>
        <a href="/admin/signup" class="bar-item button hide-small padding-large hover-white">Create an account</a>
        {{/if}}
    </nav>

    </header>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

</html>