<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      {{!-- <a href="/signup">New Account</a>
      <a href="/login">Log In</a> --}}

      <nav>
        {{#if globalUser}}
        <p>Hello, {{globalUser.username}}</p>
        <a href="/admin/logout">Log out</a>
        {{else}}
        <a href="/admin/login">Log in</a>
        <a href="/admin/signup">Create an account</a>
        {{/if}}
    </nav>

    </header>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

</html>