/* Large structural */

/* body */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.body-marg {
  margin: 0px 10% 0px 10%;
}

* {
  box-sizing: inherit;
}

.top {
  top: 0;
}

.top,
.bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.green,
.hover-green:hover {
  color: white;
  background-color: aquamarine;
}

.right {
  float: right !important;
}

.padding-large {
  padding-top: 12px !important;
  padding-right: 24px !important;
  padding-bottom: 12px !important;
  padding-left: 24px !important;
}

.large {
  font-size: 18px !important;
}

.left-align {
  text-align: left;
}

.bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}

.card {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 /12%);
}

.bar {
  width: 100%;
  overflow: hidden;
}

div {
  display: block;
}

a {
  color: iherit;
  background-color: transparent;
}

.top-space {
  margin-top: 60px;
}

/* Nav Bar */

.bar .button {
  white-space: normal;
}

.bar .bar-item {
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.white {
  color: black;
  background-color: white;
}

/* Landing page */

.center {
  text-align: center !important;
}

.container,
.panel {
  padding: 0.01em 16px;
}

.margin {
  margin: 16px !important;
}

.xlarge {
  font-size: 24px !important;
}

h1 {
  font-size: 36px;
}

/* button styles */

.black {
  color: white !important;
  background-color: black !important;
}

.margin-top {
  margin-top: 16px !important;
}

.btn,
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

/* obits page */

.library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.obit-img {
  height: 200px;
  border-radius: 25% 10%;
}

.obit {
  border-style: outset;
  width: 35%;
  margin: 60px;
  padding: 20px;
}

.obit-header {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}
