<h2>Complete Board</h2>

{{#each allObits}}
<div>
  <p>Rest in Peace {{this.firstName}} {{this.lastName}}</p>
<p>{{this.floridaMan}}</p>
<p>Some of their accomplishments include {{this.accomplishments}}</p>   
</div>
{{/each}}