<h3>Content Creator</h3>

<p>Fill out the following information</p>

<form method="POST" action="/obituaries/create">
    <input name="firstName" type="text">
    <input name="lastName" type="text">
    <input name="causeOfDeath" type="text">
    <input name="floridaMan" type="checkbox">
    <input name="photoUrl" type="text">
    <button type="submit">Submit</button>
</form>